<div class="page-header">
  <h1>
    Blogs
    <a href="/blogs/new" class="btn btn-lg btn-success">New Blog</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Photo</th>
        <th>Body</th>
        <th>Page</th>
        <th>Actions</th>
      </tr>

      <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.photo %></td>
        <td><%= blog.body %></td>
        <td><%= blog.page_id %></td>
        <td>
          <a href="/blogs/<%= blog.id %>" class="btn btn-primary">Show</a>
          <a href="/blogs/<%= blog.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_blog/<%= blog.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
