<div class="page-header">
  <h3>Blog #<%= @blog.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @blog.title %></dd>

      <dt>Photo</dt>
      <dd><%= @blog.photo %></dd>

      <dt>Body</dt>
      <dd><%= @blog.body %></dd>

      <dt>Page</dt>
      <dd><%= @blog.page_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/blogs" class="btn btn-primary">
        Back
      </a>
      <a href="/blogs/<%= @blog.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_blog/<%= @blog.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
