<!-- Validation failure messages -->
<% if @posting.errors.any? %>
  <% @posting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Posting</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_posting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @posting.name %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @posting.body %></textarea>
      </div>

      <!-- Label and input for page_id -->
      <div class="form-group">
        <label for="page_id" class="control-label">
          Page
        </label>

        <input type="text" id="page_id" name="page_id" placeholder="Page" class="form-control" value="<%= @posting.page_id %>">
      </div>

      <button class="btn btn-success">
        Create Posting
      </button>
      or
      <a href="/postings">Cancel</a>
    </form>
  </div>
</div>
